# Python virtual environment
ids_project_env/

# Large data files (CSV, PCAP) - we'll handle these separately if needed
*.csv
*.pcap_ISCX.csv # Specific for your dataset

# Trained models
*.joblib
*.pkl

# IDE and OS specific files
.DS_Store
.vscode/ # If you use VS Code
__pycache__/
